train_history/dual_space_prototypical/exp_0.json
train_history/dual_space_prototypical/exp_1.json
train_history/dual_space_prototypical/exp_2.json
train_history/dual_space_prototypical/exp_3.json
train_history/dual_space_prototypical/exp_4.json
train_history/dual_space_prototypical/exp_5.json
train_history/dual_space_prototypical/exp_6.json
train_history/dual_space_prototypical/exp_7.json
train_history/dual_space_prototypical/exp_8.json
train_history/dual_space_prototypical/exp_9.json
train_history/regular_prototypical/exp_0.json
train_history/regular_prototypical/exp_1.json
train_history/regular_prototypical/exp_2.json
train_history/regular_prototypical/exp_3.json
train_history/regular_prototypical/exp_4.json
train_history/regular_prototypical/exp_5.json
train_history/regular_prototypical/exp_6.json
train_history/regular_prototypical/exp_7.json
train_history/regular_prototypical/exp_8.json
train_history/regular_prototypical/exp_9.json
train_history/